* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #2f3b4c;
    color: #fff;
    text-align: center;
	margin: 0;
        height: 100vh;
        background-image: url('https://phuongnguyenhnm.github.io/pwa/bg.png'); /* Thay đường dẫn và tên hình ảnh tại đây */
        background-size: cover; /* Để hình ảnh phủ toàn bộ trang */
        background-position: center; /* Đặt hình ảnh ở giữa */
        display: flex;
        align-items: center;
        justify-content: center;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.time {
            color: #fff;
            font-size: 18px;
            margin-bottom: 10px;

.yellow-box {
        background-color: #EABC42;
        padding: 15px;
        border-radius: 5px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
        }


.header {
	margin-bottom: 10px;
	color: #FFEDAE;
	font-size: 14px;
}

.qr-section {
    background-color: #fff;
    color: #000;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.qr-section .time {
	font-size: 16px;
	margin-bottom: 10px;
	color: #fff;
}

.qr-section .qr-code img {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
}

.qr-section .status {
    color: #01CB43;
    font-size: 19px;
    margin-bottom: 5px;
}

.qr-section .timer {
    font-size: 24px;
}

.info {
    margin-top: 20px;
    font-size: 16px;
    color: #FDE4BB;
    width: 80%;
}
