body {
    font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
            background-color: #f0f0f0;
            overflow: hidden; /* Ẩn cuộn */
}

h1 {
            margin: 20px;
        }

        #inputText {
            margin-bottom: 10px;
        }

        #codeType, #generateCodeButton {
            margin-bottom: 10px;
            display: block;
        }

#result {
    display: block;
    margin: 0 auto;
    width: 350px;
    height: 350px;
}
